<%= form_for(@post) do |f| %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Compose new post..." %>
  </div>
  



  <%= f.submit "Post", class: "btn btn-primary"%>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <% end %>